@import "../../common/styles/colors";

.row {
  height: 70px;
}

.col-md-8 {
  margin: auto;
}

.header {
  background-color: $slalom-blue;
  color: white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.fa {
  font-size: 34px;
  padding-right: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  text-transform: uppercase;
}
