<div class="header">
  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <div class="header-left">
          <i class="fa fa-address-book-o" aria-hidden="true"></i>
          Slalom-Hodor
        </div>
        <div class="header-right">
          Key
        </div>
      </div>
    </div>
  </div>
</div>
