<app-header></app-header>
<div class="row">
  <div class="col-md-8">
    <div class="foo">
      <div class="container" *ngFor="let room of roomList">
        <room-card [meetingRoom]="room"></room-card>
      </div>
    </div>
  </div>
</div>
