@import "../../common/styles/colors";

.card {
  height: 150px;
  width: 300px;
  margin: 20px;
  display: inline-block !important;
}

.card-header {
  background-color: $slalom-blue;
  color: white;
  height: 65px;
  font-size: 24px;
}

.name {
  font-weight: bold;
}

.floor {
  font-weight: lighter;
}
