<div class="card">
  <div class="card-header">
    <span class="name">{{meetingRoom.roomName}}</span>
    <span class="floor">  ({{meetingRoom.floor}})</span>
  </div>
  <div class="card-body">

  </div>
</div>
